header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    box-shadow: 0 1px 2px var(--shadow-1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: var(--color-primary);
    background: var(--bg-primary);
    z-index: 999 !important;
}
.header_left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 1rem;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.active_link {
    color: var(--blue-color);
    background: var(--bg-secondary);
    padding: 8px !important;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 32px 10px 10px;
    background: var(--bg-third);
    border-radius: 50px;
}
.search input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
}
.search input::placeholder{
    transform: translateY(1px);
}
.search input:focus::placeholder {
    transform: translateY(2px);
}
.header_middle {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateX(3px);
}
.middle_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 152px;
    height: 50px;
    transform: translateX(-2px);
    border-radius: 10px;
}
.middle_icon:nth-child(2){
    transform: translateX(-2px);
}
.middle_icon:nth-child(3){
    transform: translateX(-4px);
}
.middle_icon:nth-child(4){
    transform: translateX(-5px);
}
.middle_icon:nth-child(5){
    transform: translateX(-5px);
}
.active {
    border-bottom: 3px solid var(--blue-color);
    height: 56px;
    border-radius: 0;
    transform: translateX(0);
}
.active svg {
    transform: translateY(1px) translateX(-1px);
}
.watch_notification{
    position: absolute;
    right: 2.8rem;
    top: -0.2px;
    background: red;
    padding: 1px 4px;
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-primary);
}


.header_right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
    margin-right: 5px;
   
}
.profile_link {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
    margin-right: 8px;
    border-radius: 10px;
}
.profile_link img {
    width: 28.7px;
    height: 28.7px;
    border-radius: 50%;
    outline: none;
    border: 1px solid var(--bg-third);
}
.circle_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

/* --------- SearchMenu --------- */
.search_area {
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 400px;
    max-height: 70vh;
    z-index: 1000 !important;
    
}
.search_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search_history_header {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0 10px;
    margin-top: 10px;
}
.search_history {
    width: 100%;
}
.search_history_header span {
    font-size: 16px;
    font-weight: 600;
}
.search_history_header a {
    color: var(--blue-color);
}
.search_menu {
    padding: 10px 32px 10px 10px;
    width: 260px;
}

/* --------- SearchMenu --------- */





/* ------------ All Menu  ----------- */
.all_menu{
    width: 650px;
    height: 90vh;
    position: absolute;
    top: 50px;
    right: -10px;
    color: var(--color-primary);
    background: var(--bg-third);
    border-radius: 10px;
    box-shadow: 0 12px 12px var(--shadow-1);
    padding: 10px 15px;
   z-index: 9999 !important;
  
}
.all_menu_header span {
    font-size: 30px;
    font-weight: 700;
}
.all_menu_flex {
    display: flex;
    flex-direction: row;
    max-height: 95%;
    padding-bottom: 15px;
    
    overflow-y: auto;
    
}
.all_left {
    background: var(--bg-primary);
    overflow-y: auto;
   height: 95vh;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: 10px 0;
    margin-right: 10px;
    
}
.all_right {
    background: var(--bg-primary);
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    margin: 10px 0;
    margin-left: 10px;
}
.search_logo {
    transform: translateY(2px);
}
.all_menu_group {
  margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-third);
    padding-bottom: 10px;
}
.all_menu_group_header {
    font-size: 22px;
    font-weight: 600;
}
.all_menu_group_item {
    display: flex;
    align-items: center;
    
    gap: 10px;
}
.all_menu_group_item img {
    width: 45px;
    height: 45px;
    margin: 10px 0;
    border-radius: 10px;
}
.all_menu_group_col {
    display: flex;
    flex-direction: column;
    
}
.all_menu_group_col span:first-of-type {
    font-size: 18px;
    font-weight: 600;
}
.all_menu_group_col span:last-of-type {
    font-size: 14px;
    color: var(--color-secondary);
}
.create_header {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
}

.create_item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.create_item span {
    font-size: 16px;
}
.create_icon_wrap {
    width: 40px;
    height: 40px;
    background: var(--bg-third);
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 50%;
}

/* ------------- ALL Menu --------------- */



/* -------------- Media Query ----------------- */
@media (max-width:1510px) {
    .middle_icon {
        width: 110px;
    }
}

@media (max-width:1326px) {
    .middle_icon {
        width: 100px;
    }
}
@media (max-width:1300px) {
    .middle_icon {
        width: 90px;
    }
}
@media (max-width:1240px) {
    .middle_icon {
        width: 80px;
    }
}
@media (max-width:1200px) {
    .hide_input{
        display: none;
    }
    .header_middle {
        transform: translateX(-15%);
    }
    .middle_icon {
        width: 120px;
    }

}
@media (max-width:1170px) {
    
    .middle_icon:nth-child(5) {
       display: none;
    }
    .middle_icon {
        width: 130px;
    }

}
@media (max-width:1110px) {
    
    .middle_icon:nth-child(4) {
       display: none;
    }
    .middle_icon {
        width: 140px;
    }

}
@media (max-width:1040px) {
    
    
    .circle_icon:nth-child(4){
        display: none;
    }

}
@media (max-width:930px) {
    
    
    .middle_icon:nth-child(3) {
        display: none;
     }
     .middle_icon {
        width: 150px;
    }

}
@media (max-width:830px) {
    
    
    .middle_icon:nth-child(1) {
        display: none;
     }
    

}
@media (max-width:760px) {
    
    
    .all_menu {
        width: 550px;
    }
    

}
@media (max-width:640px) {
    
    
    .all_menu {
        width: 500px;
    }
    

}
@media (max-width:610px) {
    
    
   
        .circle_icon:nth-child(3){
            display: none;
        }
    
    

}
@media (max-width:550px) {
    
    
    .all_menu {
        width: 450px;
       
    }
    .all_menu_flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .all_left {
        height: 90vw !important;
    }
    

}
@media (max-width:555px) {
    
    
    .all_menu {
        width: 410px;
    }
    .all_left {
        width: 370px;
        padding: 10px;
    }

}
@media (max-width:450px) {
    
    
    .all_menu {
        width: 380px;
    }
    

}
@media (max-width:410px) {
    
    
    .all_menu {
        width: 350px;
    }
    

}
@media (max-width:380px) {
    
    
    .all_menu {
        width: 330px;
    }
    

}
@media (max-width:450px) {
    
    
    .all_menu {
        width: 310px;
    }
    

}
@media (max-width:528px) {
    
    
    .profile_link {
        display: none;
    }
    

}
/* -------------- Media Query ----------------- */
